*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.button{
  padding: 10px 10px;
  font-weight: bold;
  background-color: #264043;
  color:#fff;
  border:none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.link{
  text-decoration: none;
  font-weight:bold;
  color: #264043;
}

input,textarea{
  padding:5px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 16px;
}

textarea{
  min-height: 8rem;
  max-width:40rem;
}

label{
  padding: 10px 0 5px;
}